<%- include('../layouts/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <%- include('../layouts/nav.ejs') %>
      <div class="col-5 mx-auto mt-5">
        <h2 class='mb-3'>Signup form</h2>
        <form action='/signup' method='POST' novalidate>
          <% if (errorMessage) { %>
            <div class="alert alert-danger" role="alert">
              <%= errorMessage %>
            </div>
          <% } %>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name='email' class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name='password' class="form-control" id="password">
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" name='confirmPassword' class="form-control" id="confirmPassword">
          </div>
          <input type="hidden" name='_csrf' value='<%= csrfToken %>'>
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
      </div>