<%- include('./layouts/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <%- include('./layouts/nav.ejs') %>
      <h1>List of admin products</h1>

      <%- include('./layouts/footer.ejs') %>