
  <nav class='navbar navbar-dark bg-primary'>
    <header class='navigation'>
    <div class='container-fluid d-flex justify-content-center align-items-center'>
      <a class="nav-link" href="/">Home</a></li>
      <a class="nav-link" href="/products">Products</a></li>
      <a class="nav-link" href="/cart">Cart</a></li>
      <a class="nav-link" href="/orders">Orders</a></li>
      <!-- <a class="nav-link" href="/admin/add-product">Add Product</a>
      <a class="nav-link" href="/admin/products">Admin Products</a> -->
      <div class='ms-auto p-2'>
        <a class="nav-link" href="/login">Login</a></li>
      </div>
    </div>
    </header>
  </nav>

<div class="container">
  <div class="row">

