<header>
  <nav class='d-flex justify-content-center'>
    <ul class='nav'>
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
      <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
      <li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
      <li class="nav-item"><a class="nav-link" href="/admin/add-product">Add Product</a></li>
      <li class="nav-item"><a class="nav-link" href="/admin/products">Admin Products</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <div class="row">

