<%- include('./layouts/head.ejs')%>
  <link rel="stylesheet" href="style.css">

  </head>

  <body>
    <%- include('./layouts/nav.ejs')%>

      <p>This is 404 page</p>

      <%- include('./layouts/footer.ejs')%>