<%- include('./layouts/head.ejs')%>
  <link rel="stylesheet" href="style.css">

  </head>

  <body>
    <%- include('./layouts/nav.ejs')%>

      <% if (products.length> 0) { %>
        <ul>
          <% for (let item of products) { %>
            <li>
              <%= item.title %>
            </li>
            <% } %>
        </ul>
      <% } else { %>
        <p>No products</p>
      <% } %>

    <%- include('./layouts/footer.ejs')%>