* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  color: red;
}

.nav-link {
  color: white;
}

.navigation {
  width: 900px;
  margin: auto;
}
