<%- include('../layouts/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../layouts/nav.ejs') %>
      <h1>Hello! Main page</h1>
      <% if (isAuthenticated) { %>
       <p>Залогинен</p>
      <% } else { %>
        <p>Не залогинен</p>
      <% } %>
  <%- include('../layouts/footer.ejs') %>
